*.log
*.pyc
__pycache__
/__pycache__
# Environments 
.env*
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
watch_server.py

# Configs
/Server/app/utils/config.json

# dev 
# api/run_server.py
# api/watch_server.py
